.about_page {
  @include body_padding;
}

.about_button {
  display: block;
  margin-inline: auto;

  @media (min-width: $width-tablet - 1) {
    margin-bottom: 30px;
    width: max-content;
    margin-inline: 0 auto;
  }
}
