.contacts {
  @include body_padding;
  margin-bottom: 164px;
}

.contacts_img {
  width: 100%;
}

.contacts__container {
  margin-bottom: 50px;
  display: grid;
  gap: 50px;
  justify-content: start;
  align-items: center;

  @media (max-width: $width-tablet - 1) {
    flex-direction: column;
  }
}

.telegram {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-24px;
  text-align: center;
}
