@import "/src/styles/+.scss";

.footer {
  z-index: 1;
  padding-block: 100px 83px;
  margin-top: auto;
  background-color: $color-footer-bcg;
  display: flex;
  flex-direction: column;
}

.footer__header {
  margin-bottom: 193px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.footer__title {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-24px;
  color: $color-brand;
}

.email {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-64px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer__body {
  @include body_margin;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #949494;
  font-family: $font-second-family;
}

.footer__body_contacts {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer__body_links {
  display: flex;
  gap: 10px;
}

.right_reserved {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-24px;
  text-align: center;
}
