.getintouchwithme {
  margin-bottom: 10px;
  display: flex;
  gap: 1%;

  @media (max-width: $width-tablet - 1) {
    flex-direction: column;
  }
}

.getintouchwithme_title {
  padding-right: 3.7%;
  max-width: 50%;
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-64px;
  @media (max-width: $width-desktop - 1) {
    font-size: $fz-48px;
  }

  @media (max-width: $width-tablet - 1) {
    font-size: $fz-44px;
    margin-bottom: 40px;
  }
}

.getintouchwithme_form {
  display: grid;
  max-width: 50%;
  width: 100%;

  & > label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: $fz-24px;
    text-transform: uppercase;

    @media (max-width: $width-desktop - 1) {
      font-size: $fz-18px;
    }
  }

  & > .getintouchwithme_button {
    padding-block: 15px;
    font-size: $fz-24px;
    font-weight: 500;
    border-radius: 50px;
    max-width: max-content;

    @media (max-width: $width-desktop - 1) {
      font-size: $fz-18px;
    }
  }
}

.getintouchwithme_input {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  border-radius: 16px;
  @include project-hover;
  background-color: transparent;
  border-bottom: 1px solid $color-text-dark-light;
  font-size: $fz-20px;

  &:not(:first-child) {
    margin-bottom: 50px;
  }

  @media (max-width: $width-tablet - 1) {
    padding-inline: 0;
  }
}
