.header {
  @include body_padding;
  margin-bottom: 20vh;
  padding-block: 48px;
  text-transform: uppercase;
  display: flex;
  gap: 2%;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  flex: 1;
  display: flex;
  gap: 1.5%;
  align-items: center;
}

.nav_list {
  @include list_default;
  @include nav_hover-active;
}

.nav_item {
  display: block;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $fz-14px;
  line-height: 17px;
  opacity: 0.5;
  @include transition_button;

  &:has(.nav_item_active) {
    opacity: 1;
  }

  &_active {
    border: 2px solid $color-second-light--030;
    border-radius: 30px;
    background-color: $color-grayscale-dark;
    color: $color-second-light;
    cursor: default;
    box-shadow: 1px 1px 2px 0 $color-grayscale-light;
  }

  & button {
    min-width: max-content;
    text-transform: uppercase;
    padding: 15px 36px;
    border-radius: 30px;
  }

  @media (max-width: $width-desktop--small - 1px) {
    display: none;
  }
}

.nav__open {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $color-grayscale-dark--090;

  & > .nav_item {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin-inline: auto;
    margin-block: 2rem;
  }
}
