@import "/src/styles/+.scss";

.header {
  padding-block: 48px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $fz-14px;
  line-height: 17px;
  opacity: 0.5;
}

.nav_list {
  flex: 1;
  display: flex;
  gap: 46px;
  align-items: center;
}

.nav_list {
  @include list_default;
}

.nav_item {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $fz-14px;
  line-height: 17px;
  opacity: 0.5;

  &_active {
    padding: 15px 36px;
    border: 2px solid $color-second-light--030;
    border-radius: 30px;
    opacity: 0.8;
  }
}
