@import "/src/styles/default_variables.scss";

.logo {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $fz-20px;
  line-height: 17px;
  opacity: 0.5;
  text-wrap: nowrap;
}
