@import "/src/styles/+.scss";

.my_photo {
  position: relative;
}

.my_photo__me {
  border-radius: 30px;
  width: 454px;
  height: 506px;
  position: relative;
}

.my_photo_decor__horizontal::before {
  content: "";
  width: 110px;
  height: 34px;
  position: absolute;
  top: -15px;
  right: 0;
  border: 1px solid $color-brand;
  border-radius: 30px;
}

.my_photo_decor__vertical::before {
  content: "";
  width: 55px;
  height: 178px;
  position: absolute;
  bottom: 50px;
  left: -30px;
  border: 1px solid $color-brand;
  border-radius: 30px;
}
