.my_stack {
}

.my_stack__title {
  margin-bottom: 100px;
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-48px;
  line-height: 167%;
  letter-spacing: -0.01em;

  @media (max-width: $width-tablet - 1) {
    font-size: $fz-36px;
  }
}

.my_stack__list {
  margin-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.my_stack__image {
  @media (max-width: $width-tablet - 1) {
    max-width: 75px;
  }
}
