.project_detail {
  @include body_padding;
  margin-bottom: 193px;
  display: flex;
  gap: 5%;

  @media (max-width: $width-tablet - 1) {
    flex-direction: column;
    gap: 20px;
  }
}

.project_detail__link {
  @media (max-width: $width-desktop - 1) {
    max-width: 40%;
    width: 100%;
  }

  @media (max-width: $width-tablet - 1) {
    max-width: 100%;
  }
}

.project_detail__image {
  max-height: 50vh;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
  @include project-hover;
}

.project_detail__desc_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.project_detail__title {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-32px;
  line-height: 120%;
  text-transform: capitalize;
}

.project_detail__desc {
  line-height: 170%;
  color: $color-grayscale-light--80;
}

.project_detail__links_container {
  flex: 1;
  align-items: end;
  display: flex;
  gap: 10px;

  @media (max-width: $width-tablet - 1) {
    justify-content: center;
  }
}
