@import "/src/styles/+.scss";

.promo {
  text-align: center;
}

.promo__title {
  font-weight: 700;
  font-size: $fz-72px;
}

.promo__button {
  font-family: Rubik;
  font-weight: 700;
  font-size: $fz-14px;
  line-height: 15px;
  letter-spacing: 1.63px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-button;
}
