@import "/src/styles/default_variables.scss";

.testimonial {
  margin-bottom: 119px;
  @include body_padding;
  display: flex;
  gap: 57px;
  justify-content: center;
  align-items: flex-start;
}

.testimonial__container {
  flex: 1;
}

.testimonial__title {
  font-weight: 700;
  font-size: 64px;
  font-family: $font-second-family;
}

.testimonial__desc {
  padding-bottom: 35px;
  font-size: $fz-18px;
  color: $color-text-dark-light;
}

.testimonial__author {
  font-family: $font-second-family;
  font-weight: 700;
  font-size: $fz-24px;
}

.testimonial__quotes {
  width: 199px;
  height: 183px;
  background: url("/background/quotes.svg") no-repeat;
  background-size: contain;
}
