$width-max: 1920px;
$width-desktop: 1366px;
$width-tablet: 756px;
$width-mobile: 375px;
$width-min: 320px;

$fz-60px: 3.75rem;
$fz-36px: 2.25rem;
$fz-28px: 1.75rem;
$fz-24px: 1.5rem;
$fz-20px: 1.25rem;
$fz-18px: 1.125rem;
$fz-16px: 1rem;
$fz-14px: 0.875rem;

$color-text-logo: #595653;
$color-text-main: #313131;
$color-text-white: #ffffff;
$color-text-add: #3057a2;
$color-bg: #e9ded4;
$color-bg--light: #ffffff;
$color-bg--border: #d0d0d0;
$color-bg-button--dark: #1f1f1f;
$color-bg-button--light-90: rgba(255, 255, 255, 0.9);
$color-bg-ticker: #f54932;

$color-button-default: #313131;
$color-button-hover: #fbce51;
$color-button-disable: rgba(49, 49, 49, 0.2);
$color-button-bullet: #d9d9d9;
