$width-max: 1920px;
$width-desktop: 1440px;
$width-tablet: 756px;
$width-mobile: 375px;
$width-min: 320px;

$fz-80px: 5rem;
$fz-72px: 4.5rem;
$fz-64px: 4rem;
$fz-60px: 3.75rem;
$fz-56px: 3.5rem;
$fz-48px: 3rem;
$fz-36px: 2.25rem;
$fz-32px: 2rem;
$fz-28px: 1.75rem;
$fz-24px: 1.5rem;
$fz-20px: 1.25rem;
$fz-18px: 1.125rem;
$fz-16px: 1rem;
$fz-14px: 0.875rem;

$color-brand: #ff9143;
$color-footer-bcg: #131313;

$color-second-dark: #1a1a1a;
$color-second-dark-light: #262a2c;
$color-second-gray: #696969;
$color-second-light: #ffffff;
$color-second-light--030: rgba(255, 255, 255, 0.3);

$color-text-button: #f4f7fa;
$color-text-button--hover: #a65115;
$color-bcg-button--hover: #ffc297;

$color-grayscale-light--80: #9ea3ae;
$color-grayscale-light--60: #d3d5da;
$color-grayscale-light--40: #e5e6eb;
$color-grayscale-light--20: #f4f4f6;
$color-grayscale-light: #f9fafb;

$color-grayscale-dark--80: #6c727f;
$color-grayscale-dark--60: #4d5461;
$color-grayscale-dark--40: #394150;
$color-grayscale-dark--20: #212936;
$color-grayscale-dark: #0b0a0f;

$color-text-dark: #333333;
$color-text-dark-light: #949494;
$color-text-desc: #a8a8a8;
