@import url(https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

$font-family: "Golos Text", sans-serif;
$font-second-family: "Merriweather", sans-serif;
$font-third-family: "Montserrat", sans-serif;
