@mixin list_default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin body_padding {
  padding-inline: 10%;

  @media screen and (max-width: $width-desktop) {
    padding-inline: 5%;
  }
}

@mixin body_margin {
  margin-inline: 10%;

  @media screen and (max-width: $width-desktop) {
    margin-inline: 5%;
  }
}

@mixin bcg_noise($opacity: 0.09) {
  position: relative;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/background/noise.png") repeat;
    opacity: $opacity;
    pointer-events: none;
  }
}

@mixin nav_hover-active {
  & li:has(:not(.nav_item_active)) {
    &:hover,
    &:active {
      outline: 5px solid $color-second-light--030;
      outline-offset: -5px;
      background-color: $color-grayscale-dark;
      color: $color-second-light;
      border-radius: 30px;
    }
  }

  // & li:has(.nav_item_active) {

  // }
}

@mixin transition_button {
  transition: 0.3s ease;
}

@mixin project-hover {
  transition: box-shadow 0.5s ease;
  outline: none;
  border: none;

  &:hover,
  &:active,
  &:focus-visible {
    box-shadow: 0 0 10px 3px $color-grayscale-light--80;
  }
}
